<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form action="/cad" method="post">
		<input name="nome">
		<input type="submit">
	</form>
  </body>
</html>
